.container {
    padding: 20px;
  }
  
  .title-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .user-card {
    width: 300px; /* Ancho deseado para cada tarjeta */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .user-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: #07a78c;
    border-radius: 50%;
  }
  
  .custom-icon {
    font-size: 48px;
    color: #FFFFFF; /* Color blanco para el ícono */
  }
  
  mat-card-title,
  mat-card-subtitle {
    text-align: center;
  }
  
  mat-card-actions {
    justify-content: center;
  }
  
  mat-icon {
    font-size: 25px;
  }
  
  .mat-card-header {
    padding: 12px; /* Espaciado interno del encabezado */
    display: flex;
    align-items: center;
  }
  